<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} Base {% endblock %}</title>
  </head>
 <body>
  <nav class="navbar navbar-expand-lg navbar-dark "  style="background-color:rgb(140, 203, 246);">
    <a class="navbar-brand" href="#">Resume</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="{{ 'active' if active_page == 'home' else '' }}">
          <a class="nav-link" href="{{url_for('home')}}">Home</a>
        </li>
        <li class="{{ 'active' if active_page == 'skills' else '' }}">
          <a class="nav-link" href="{{url_for('skills')}}">Skills</a>
        </li>
        <li class="{{ 'active' if active_page == 'education' else '' }}">
          <a class="nav-link" href="{{url_for('education')}}">Education</a>
        </li>
      
      </ul>
    </div>
  </nav>
  {% block body %}



{% endblock %}
</body>
<footer>
  <p>2023</p>
</footer>
</html>