{% extends 'base.html' %}
{% set active_page = "education" %}
{% block title %} Education {% endblock %}

{% block body %}
<img class="center" src="{{ url_for('static', filename='images/Pnu_logo.png') }}">
<div class="info">
<h1 >I am a 3rd year student at the <a target="_blank" href ="https://pnu.edu.ua/en/">Carpathian National University</a> majoring in software engineering</h1>
<p>Vasyl Stefanyk Precarpathian National University – one of the leading institutions of higher education in Ukraine – was founded in 1940.</p>
<p>
    The University is accredited with the highest, IV level of accreditation.
    Vasyl Stefanyk Precarpathian National University occupies high positions in international and domestic rankings of higher education institutions. According to the international SciMago Institutions Rankings, the University ranks 2nd (2021) among Ukrainian universities, 7th in the U-Multirank International Ranking (2021), 10th in the “Best Classical Universities” (2021), 10th in the international ranking SCOPUS (2021), 10th in the TOP-10 ranking among classical universities of Ukraine, 12th in the Webometrix Ranking of world’s universities, 20th in the ranking of the most influential universities in the world (2021), 23rd in the “TOP-200 Ukraine 2021” ranking.
</p>
</div>
{% endblock %}