{% extends 'base.html' %}
{% set active_page = "home" %}
{% block title %} Home {% endblock %}

{% block body %}
<body>

<div class="card">

<h1 class="text" id="hi">HI!</h1>
<h1 class="text" id="hello">HELLO</h1>

</div>

<h1 class="info">I'm Sofiia Rostkovych</h1>

<table class="info">
    <tr>
        <td colspan="2">Languges</td>
       </tr>
    <tr>
      <td>English</td>
      <td>B2</td>
    </tr>
    <tr>
        <td>Ukrainian</td>
        <td>Native</td>
      </tr>
      <tr>
        <td>Polish</td>
        <td>B1</td>
      </tr>
</table>
</body>
{% endblock %}