{% extends 'base.html' %}
{% block title %} Post {% endblock %}
{% from "_render_field.html" import render_field %}

{% block body %}
<body>
    <h1 class="create"><a class="btn btn-success" href={{url_for(".view_all")}}>View all</a></h1>
    <div class="container">
    {% if chosen is defined %}
    <h1 class="info">{{chosen.title}}</h1>
    <div class="info">  
        <p>{{chosen.type.name}} {{chosen.get_category().name}}</p>
        {% for i in chosen.get_tags(chosen.id) %}
        <p class="badge rounded-pill bg-success">{{i}}</p>
        {% endfor %}   
  
        <p>{{chosen.text}}</p>
       
        <img class="center" src="{{ url_for('.static', filename='post_img/'+chosen.image_file) }}">
    
           
              
       </div>
                 {% if current_user.id==chosen.user_id %}
                 <td>  <a class="btn btn-success" href={{url_for(".update", id = chosen.id)}}>Update</a></td>
                 <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal">
                    Delete
                  </button>
                  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                  aria-hidden="true">
                  <div class="modal-dialog">
                      <div class="modal-content">
                          <div class="modal-header">
                              <h5 class="modal-title" id="exampleModalLabel">Deletion of the post</h5>
                              <button type="button" class="btn-close" data-bs-dismiss="modal"
                                  aria-label="Close"></button>
                          </div>
                          <div class="modal-body">
                              Are you sure you want to delete '{{chosen.title}}' post?
                          </div>
                          <div class="modal-footer">
                              <button class="btn btn-outline-primary" data-bs-dismiss="modal">Close</button>
                              <a class="btn btn-danger" href={{url_for(".delete", id = chosen.id)}} class="btn btn-primary">Delete</a>
                          </div>
                      </div>
                  </div>
              </div>
                 {% endif %}
                </tr>
     {% else %}
     <p1 class="info">Post not found</p1>
     {% endif %}
    
    
</div>
</body>


  <script src="js/bootstrap.bundle.js"></script>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"
      integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
      crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"
      integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13"
      crossorigin="anonymous"></script>
{% endblock %}