{% extends 'base.html' %}
{% block title %} Post {% endblock %}
{% from "_render_field.html" import render_field %}

{% block body %}
<body>
    {% if chosen is defined %}
    <table class="todo">
         <thead>
             <th>№</th>
             <th>Title</th>
             <th>Text</th>
             <th>Image</th>
             <th>Type</th>
         </thead>
         <tbody>
             <tr>
                 <th>{{chosen.id}}</th>
                 <td>{{chosen.title}}</td>
                 <td>{{chosen.text}}</td>
                 <td>{{chosen.image}}</td>
                 <td>{{chosen.type.name}}</td>
                 {% if current_user.id==chosen.user_id %}
                 <td>  <a class="btn btn-success" href={{url_for(".update", id = chosen.id)}}>Update</a></td>
                 <td>  <a class="btn btn-danger" href={{url_for(".delete", id = chosen.id)}}>Delete</a></td>
                {% endif %}
                </tr>
         </tbody>
     </table>
     {% else %}
     <p1 class="info">Post not found</p1>
     {% endif %}
</body>
{% endblock %}