{% extends 'base.html' %}
{% block title %} New Post {% endblock %}
{% from "_render_field.html" import render_field %}

{% block body %}
<body>
    <div class="container">
    <form class="login" action={{url_for(".delete", id=id)}} method="POST" novalidate>
    {{ form.csrf_token }}
    {{ form.confirm.label(class="info") }}
    <table class="confirm">
    {% for subfield in form.confirm %}
    <tr>
        <td>{{ subfield.label() }}</td>
        <td>{{ subfield(class="radio") }}</td>
        
    </tr>


{% endfor %}
<tr>
    <td colspan="2"> {{form.submit(class="form-control")}}</td>
</tr>
</table>
   
</form>
</div>
</body>
{% endblock %}
