{% extends 'base.html' %}
{% block title %} Update Post {% endblock %}
{% from "_render_field.html" import render_field %}

{% block body %}
<body>
    <div class="container">
    <form class="login" action={{url_for('.update', id=id)}} method="POST" enctype="multipart/form-data" novalidate>
    {{ form.csrf_token }}
    {{ render_field(form.title, class="form-control" )}}
    {{ render_field(form.text, class="form-control" )}}
    {{ render_field(form.image, class="form-control", type="file", style="min-width: 300px", id="formFile" )}}
    {{ render_field(form.type, class="form-control" )}}
    {{ render_field(form.category, class="form-control" )}}
    {{ render_field(form.tags, class="form-control" )}}

    {{ render_field(form.enabled )}}
    
    {{form.submit()}}
</form>

</div>
</body>
{% endblock %}