{% extends 'base.html' %}
{% block title %} Users {% endblock %}
{% from "_render_field.html" import render_field %}

{% block body %}
<body>
  {% if list is defined and list|length > 0 %}
   <table class="todo">
        <thead>
            <th>№</th>
            <th>Username</th>
        </thead>
        <tbody>
            {% for i in list %}
            <tr>
                <th>{{i.id}}</th>
                <td>{{i.username}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <p1 class="info">Amount of users = {{list|length}}</p1>
    {% else %}
    <p1 class="info">No users registered</p1>
    {% endif %}
</body>
{% endblock %}