<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} Base {% endblock %}</title>
    <link rel="stylesheet" type="text/css"
 href="{{ url_for('static', filename='css/styles.css') }}">
 
  </head>
 <body>
 {% include "nav.html" %}
 {% for var, msg in get_flashed_messages(True) %}
<ul class="list-group">
  <li class="list-group-item list-group-item-{{var}}"> {{msg}}</li>
</ul>
 {% endfor %}
  {% block body %}

{% endblock %}

<script src="{{url_for('static', filename='js/script.js')}}"></script>
</body>
{% include 'footer.html' %}
</html>