{% extends 'base.html' %}
{% block title %} Home {% endblock %}

{% block body %}
<body>

<div class="card">

<h1 class="text" id="hi">HI!</h1>
<h1 class="text" id="hello">HELLO</h1>
</div>
<h1 class="info"> I'm Sofiia Rostkovych </h1>
<div id="info-sect">
<h1>Passionate student of software engineering with solid knowledge of Object-Oriented Programming looking for the first experience in IT.</h1>

<table class="lang" >
  <tr class="title">
      <td colspan="2">Languges</td>
     </tr>
  <tr>
    <td>English</td>
    <td>          <div class="half-arc" style="--percentage:70%;">
      <span class="label">C1</span>
    </div></td>
  </tr>
  <tr>
      <td>Ukrainian</td>
      <td>
        <div class="half-arc" style="--percentage:100%;">
        <span class="label">Native</span>
      </div>
    </td>
    </tr>
    <tr>
      <td>Polish</td>
      <td>
       
        <div class="half-arc" style="--percentage:50%;">
          <span class="label">B1</span>
        </div>
    </td>
    </tr>
</table>
</div>
</body>
{% include 'footer.html' %}
{% endblock %}