{% extends 'base.html' %}
{% block title %} Info {% endblock %}
{% block body %}
<body>
    <div class="container">
      </div>
        {% block content %}
        <h1 class="info">Info page. Hi, {{name}} </h1>
      
            <br>
            <form action={{url_for("setcookie")}} method="GET">
                <label>Enter key</label>
                <input  name="set_key" >
                <label>Enter value</label>
                <input  name="set_value">
                <br>
                <br>
                <button class="btn btn-primary">Create cookie</button>
            </form>


            <br>
            <h1 class="info">Cookies</h1>
                <table class="cookies">
                    <tr>
                        <th>
                            Key
                        </th>
                        <th>
                            Value
                        </th>
                    </tr>
                    {% for key, value in cookies.items() %}
                     <td>{{key}}</td>
                        <td>{{value}}</td>
                    </tr>
                    {% endfor %}
                </table>
         
            <p  class="resp"> {{resp}} </p>
                <form action={{url_for("clearcookie")}} method="GET">
                    <label>Enter key for deletion</label>
                    <input  name="del_key">
                    <br>

                    <button class="btn btn-primary">Delete cookie</button>
                    </form>
                    
                    <form action={{url_for("clearall")}} method="GET">
                    <button class="btn btn-primary">Delete all cookies</button>
                    </form>
                    <br>
                    <br>
                    <form action={{url_for("change_pasw")}} method="POST">
                    <label>Enter current password</label>
                     <input type="password"  name="current_password">
                            <label>Enter new password</label>
                            <input type="password"   name="new_password">
                            <br>
                            <button class="btn btn-primary">Change password</button>
                            </form>
                            <br>
                            <form action={{url_for("logout")}}  method="POST">
                                <button class="btn btn-primary" >Exit</button>
       
                            </form>
                         
                         
        {% endblock %}
    </div>


</body>
{% endblock %}