{% extends "base.html" %}
{% block title %} Форма {% endblock %}
{% from "_render_field.html" import render_field %}
{% block css %}
{{ super() }}
{% endblock %}

{% block body %}
<div class="container">
<form class="login" action={{url_for("login")}} method="POST" novalidate>
  {{form.hidden_tag()}}
  {{ render_field(form.name, class="form-control") }}
  {{ render_field(form.password, class="form-control") }}
  <div class="remember">
    {{form.remember.label}}
 {{form.remember}}
</div>
  {{form.submit()}}
</form>
<br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br>
</div>
{% endblock %}
